<div>
    <h3 class="no-margin-top pull-left">Contact Persons</h3>
    <button role="button" class="btn btn-default pull-right" (click)="openNewContactModal()">Add</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Contact Person</th>
            <th>Phone Numbers</th>
            <th class="hidden-sm hidden-xs">Client(s)</th>
            <th class="hidden-sm hidden-xs">Created Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts | orderBy : 'firstName' ">
            <td><a (click)="displayContact(contact.id)">{{contact.fullName}}</a></td>
            <td>{{contact.phoneNumbers}}</td>
            <td class="hidden-sm hidden-xs">
                <span>
                    <a [routerLink]="['/clients', contact.id]">View clients</a>
                </span>
            </td>
            <td class="hidden-sm hidden-xs">{{contact.createdDate| date}}</td>
        </tr>
    </tbody>
</table>

<app-contact-person-modal (onDeleted)="onContactDeleted($event)" (onSaved)="onContactSaved($event)"></app-contact-person-modal>