<div class="row">
    <h3 class="no-margin-top pull-left">My Time Entries</h3>
    <p class="pull-right"><strong>Week: <a #datePicker class="date" href="javascript:void(0)" data-provide="datepicker" >{{weeklyTimes.currentWeekStartDate | date }}
        <input #selectedDate  data-date-format="mm/dd/yyyy" type="hidden"></a>
   </strong></p>
</div>
<div class="row">
    <div class="btn-group pull-left">
        <button role="button" class="btn btn-default " (click)="goPrevious()" title="Previous week">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
        <button role="button" class="btn btn-default" (click)="goCurrent()" title="Current week" [disabled]="weeklyTimes.isThisWeek">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
        <button role="button" class="btn btn-default" (click)="goNext()" title="Next week">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    </div>
    <select [disabled]="weeklyTimes.uniqueActivities.length <= 1" class="btn btn-default hidden-sm hidden-xs filter-spacing"
        [(ngModel)]="weeklyTimes.selectedActivityId">
            <option [value]="undefined">All Activities</option>
            <option *ngFor="let activity of weeklyTimes.uniqueActivities" [value]="activity.id">{{activity.title}}</option>
    </select>
    <select [disabled]="weeklyTimes.timeEntriesCount <= 1" class="btn btn-default hidden-sm hidden-xs filter-spacing" [(ngModel)]="weeklyTimes.selectedStatus">
            <option [value]="undefined">All Status</option>
            <option *ngFor="let status of weeklyTimes.allStatus" [value]="status">{{status | camelSeparate}}</option>
    </select>

    <div class="pull-right">
        <button *ngIf="weeklyTimes.canSubmit" role="button" class="btn btn-default" (click)="submitTimeEntries()">Submit</button>
        <button *ngIf="weeklyTimes.canUnsubmit" role="button" class="btn btn-default" (click)="unsubmitTimeEntries()">Unsubmit</button>
        <button *ngIf="weeklyTimes.canAddNew" role="button" class="btn btn-default" (click)="openNewTimeEntryModal()">Add</button>
    </div>
</div>
<div class="row hidden-xs hidden-sm">
    <table class="table">
        <thead>
            <tr>
                <th>Day/Date</th>
                <th>Task</th>
                <th>Project/Activity</th>
                <th>From</th>
                <th>To</th>
                <th>Hours</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-tuple [ngForOf]="weeklyTimes.timeEntriesTree">
                <tr *ngIf="tuple[2].length == 0">
                    <td>
                        <span>
                        {{ tuple[1] | date:'EEEE'}}
                    </span>
                        <br />
                        <small>{{ tuple[1] | date:'(MMM dd)'}}</small>
                    </td>
                    <td colspan="6"></td>
                </tr>
                <tr *ngFor="let timeEntry of tuple[2]; let i = index;">
                    <td *ngIf="i == 0" [attr.rowspan]="tuple[2].length">
                        <span>
                        {{ tuple[1] | date:'EEEE'}}
                        </span>
                        <br />
                        <small>{{ tuple[1] | date:'(MMM dd)'}}</small>
                    </td>
                    <td><a (click)="display(timeEntry)">{{ timeEntry.task }}</a></td>
                    <td>{{ timeEntry.activity.title }}</td>
                    <td>{{ timeEntry.beginDateTime | date:'shortTime' }}</td>
                    <td>{{ timeEntry.endDateTime | date:'shortTime' }}</td>
                    <td>{{ timeEntry.hours }}</td>
                    <td [ngClass]="{'text-success':timeEntry.status === 'approved', 'text-danger': timeEntry.status === 'denied'}">{{ timeEntry.status | camelSeparate}}</td>
                </tr>
            </ng-template>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5">Total Hours</th>
                <th colspan="2">{{weeklyTimes.totalHours}}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="mobile-container">
    <div class="row visible-sm visible-xs mobile-list">
        <p class="text-center" *ngIf="weeklyTimes.totalHours <= 0">No time entries for this week</p>
        <ul class="list-group">
            <ng-template ngFor let-tuple [ngForOf]="weeklyTimes.timeEntriesTree">
                <li (click)="display(timeEntry)" class="list-group-item" *ngFor="let timeEntry of tuple[2]" [ngClass]="{'list-group-item-success' : timeEntry.status == 'approved', 'list-group-item-danger' : timeEntry.status == 'denied'}">
                    <div class="row">
                        <div [ngClass]="{'dummy-white-space':!timeEntry.task}" class="col-xs-8"><strong>{{ timeEntry.task }}</strong></div>
                        <div class="col-xs-4"><strong class="pull-right">{{ timeEntry.hours }} Hours</strong></div>
                    </div>
                    <div class="row">
                        <div [ngClass]="{'dummy-white-space':!timeEntry.activity.title}" class="col-xs-5"><small>{{ timeEntry.activity.title }}</small></div>
                        <div class="col-xs-7">
                            <span class="pull-right"><small>{{ tuple[1] | date:'EEE, MMM dd'}}</small></span>
                            <span><small>{{ timeEntry.status | camelSeparate}}</small></span>
                        </div>
                    </div>
                </li>
            </ng-template>
            <li class="list-group-item" *ngIf="weeklyTimes.totalHours > 0">
                <span><strong>Total</strong></span>
                <span class="pull-right"><strong>{{weeklyTimes.totalHours}} Hours</strong></span>
            </li>
        </ul>
    </div>
</div>
<app-time-entry-modal (onSaved)="onTimeEntrySaved($event)" (onDeleted)="onTimeEntryDeleted($event)"></app-time-entry-modal>