<app-modal [title]="title" [size]="(isNew)? 'medium' : 'large'" [closable]="true">
    <div class="row" xmodal-body>
        <form #frm="ngForm" *ngIf="client" novalidate>
            <div class="form-group col-md-6">
                <label for="Client Name">Client Name</label>
                <input type="text" class="form-control" name="name" required maxlength="256" minlength="1" [(ngModel)]="client.name" placeholder="Client Name"
                />
            </div>

            <div class="form-group col-xs-6">
                <label for="contact-person1">Contact Person 1</label>
                <button [disabled]="!selectedContactds[0]" (click)="displayContact(selectedContactds[0])" class="btn btn-xs btn-default edit-glyphicon"
                    title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <select [(ngModel)]="selectedContactds[0]" class="form-control" name="contact-person1">
                    <option [ngValue]="undefined">Select a Contact</option>
                    <option *ngFor="let contact of contactOptions(selectedContactds[0])" [ngValue]="contact.id">{{contact.fullName}}</option>
                </select>
            </div>

            <div class="form-group col-xs-6">
                <label for="contact-person1">Contact Person 2</label>
                <button [disabled]="!selectedContactds[1]" (click)="displayContact(selectedContactds[1])" class="btn btn-xs btn-default edit-glyphicon"
                    title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <select [(ngModel)]="selectedContactds[1]" class="form-control" name="contact-person2">
                    <option [ngValue]="undefined">Select a Contact</option>
                    <option *ngFor="let contact of contactOptions(selectedContactds[1])" [ngValue]="contact.id">{{contact.fullName}}</option>
                </select>
            </div>

            <div class="form-group col-xs-6">
                <label for="contact-person1">Contact Person 3</label>
                <button [disabled]="!selectedContactds[2]" (click)="displayContact(selectedContactds[2])" class="btn btn-xs btn-default edit-glyphicon"
                    title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <select [(ngModel)]="selectedContactds[2]" class="form-control" name="contact-person3">
                    <option [ngValue]="undefined">Select a Contact</option>
                    <option *ngFor="let contact of contactOptions(selectedContactds[2])" [ngValue]="contact.id">{{contact.fullName}}</option>
                </select>
            </div>
            <div class="form-group col-md-6 hidden-sm hidden-xs" *ngIf="!isNew">
                <label for="created">Created</label>
                <input type="text" class="form-control" name="createdDate" [(ngModel)]="client.createdDate" disabled />
            </div>
            <div class="form-group col-md-6 hidden-sm hidden-xs" *ngIf="!isNew">
                <label for="createdBy">CreatedBy</label>
                <input type="text" class="form-control" name="createdBy" [(ngModel)]="client.creator.fullName" disabled />
            </div>
            <div class="form-group col-xs-12" *ngIf="client.projects && client.projects.length > 0">
                <label>Projects</label>
                <div class="row">
                    <p *ngFor="let project of client.projects" class="col-md-3 col-xs-6">
                        <a (click)="displayProject(project.id)">{{project.title}}</a>
                    </p>
                </div>
            </div>
        </form>
    </div>

    <div xmodal-footer>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button *ngIf="!isNew" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <button *ngIf="canSave" type="button" [disabled]="!isValid" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</app-modal>
<app-project-entry-component (onDeleted)="onProjectDeleted($event)" (onSaved)="onProjectSaved($event)"></app-project-entry-component>
<app-contact-person-modal (onDeleted)="onContactDeleted($event)" (onSaved)="onContactSaved($event)"></app-contact-person-modal>