.pie-chart {
    width: 100%;
    height: 100%;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.title {
    fill: steelblue;
    font-weight: bold;
}
.legend-key {
    font-size: 10px;
}