<app-modal [title]="title" [size]='"large"' [closable]="true">
    <div class="row" xmodal-body>
        <form #frm="ngForm" *ngIf="contact" novalidate>
            <div class="form-group col-md-6">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name="firstName" required maxlength="50" [(ngModel)]="contact.firstName" placeholder="First Name"
                    [disabled]="isReadOnly">
            </div>
            <div class="form-group col-md-6">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" maxlength="50" required [(ngModel)]="contact.lastName" placeholder="Last Name"
                    [disabled]="isReadOnly">
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input maxlength="256" type="email" name="email" class="form-control" [(ngModel)]="contact.email" [disabled]="isReadOnly" required/>
            </div>
            <div class="form-group col-md-6">
                <label for="phoneNumber1">Primary Phone Number</label>
                <input [pattern]="phoneNumberPattern" type="text" maxlength="20" name="phoneNumber1" class="form-control" [(ngModel)]="contact.phoneNumber1"
                    [disabled]="isReadOnly" />
            </div>

            <div class="form-group col-md-6">
                <label for="phoneNumber1">Secondary Phone Number</label>
                <input [pattern]="phoneNumberPattern" type="text" maxlength="20" name="phoneNumber2" class="form-control" [(ngModel)]="contact.phoneNumber2"
                    [disabled]="isReadOnly" />
            </div>

            <div *ngIf="!isNew" class="form-group col-md-6 hidden-xs hidden-sm">
                <label for="createdBy">Created By</label>
                <input type="text" class="form-control" name="createdBy" [(ngModel)]="contact.creator.fullName" disabled />
            </div>
            <div *ngIf="!isNew" class="form-group col-md-6 hidden-xs hidden-sm">
                <label for="created">Created</label>
                <input type="text" class="form-control" name="createdDate" [(ngModel)]="contact.createdDate" disabled />
            </div>
        </form>
    </div>
    <div xmodal-footer>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button *ngIf="!isReadOnly && canDelete" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <button *ngIf="!isReadOnly && canSave" type="button" [disabled]="!isValid" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</app-modal>