<app-modal>
    <div class="row" xmodal-body>
        <form #frm="ngForm" *ngIf="vacation" novalidate>
            <div class="form-group col-xs-12">
                <label>Employee</label>
                <select [(ngModel)]="employeeId" class="form-control" required [disabled]="!canSelectUser" name="select-user">
                    <option [ngValue]="undefined">Select An Employee</option>
                    <option *ngFor="let user of allUsers" [ngValue]="user.id">{{user.fullName}}</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label for="Hours Per Period">Hours Per Period</label>
                <input required [ngClass]="{'invalid-data' : !hoursPerPeriodIsValid }" class="form-control" [(ngModel)]="vacation.hoursPerPeriod" type="number" name="hours" placeholder="hours per period"
                />
            </div>
            <div class="form-group col-xs-6">
                <label for="Hours Per Period">Year Begin Balance</label>
                <input required [ngClass]="{'invalid-data': !yearBeginBalanceIsValid }" class="form-control" [(ngModel)]="vacation.yearBeginBalance" type="number" name="years" placeholder="year begin balance"
                />
            </div>
        </form>
    </div>
    <div xmodal-footer>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button [disabled]="!isValid || !employeeId || !hoursPerPeriodIsValid || !yearBeginBalanceIsValid" type="button" class="btn btn-primary" (click)="saveVacation()">Save</button>
    </div>
</app-modal>