<div>
<h3 class="no-margin-top pull-left">Activities</h3>
        <button role="button" class="btn btn-default pull-right" (click)="openNewActivityModal()">Add</button>
</div>
<table class="table">
        <thead>
            <tr>
                <th>Activity</th>
                <th class="hidden-xs hidden-sm">Description</th>
                <th class="hidden-xs hidden-sm">Created</th>
                <th>Last Modified</th>           
            </tr>

        </thead>
        <tbody>
             <tr *ngFor = "let activity of activities | orderBy : 'title'">
                <td ><a (click)="display(activity.id)">{{activity.title}}</a></td>
                <td class="truncate_13em hidden-xs hidden-sm">{{activity.description}}</td>
                <td class="hidden-xs hidden-sm">{{activity.createdDate | date}}</td>
                <td>{{activity.editedDate | date}}</td>           
            </tr>
            
        </tbody>
</table>
<app-modal [title]="title" [size]='"large"' [closable]="true">
    <div class="row" xmodal-body>
        <form #frm="ngForm" *ngIf="activity" novalidate>
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" required maxlength="100" minlength="3"
                       [(ngModel)]="activity.title"
                       placeholder="Activity title" />
            </div>
            <div class="form-group col-md-6">
                <label for="billable">Vacation</label>
                <select name="billable" class="form-control"
                        [(ngModel)]="activity.isVacation">
                    <option [ngValue]="false">No</option> 
                    <option [ngValue]="true">Yes</option> 
                </select>
            </div>

            <div class="form-group col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" name="description"  maxlength="4000" minlength="3"
                       [(ngModel)]="activity.description"
                       placeholder="Activity Description">
                </textarea>
            </div>

            <div *ngIf="!isNew" class="hidden-sm hidden-xs">
                <div class="form-group col-md-6">
                    <label for="createdDate">Created Date</label>
                    <input type="text" class="form-control" name="createdDate" required maxlength="100" minlength="3"
                        [ngModel]="activity.createdDate | date" disabled />
                </div>

                <div class="form-group col-md-6">
                    <label for="createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" required maxlength="100" minlength="3"
                        [ngModel]="activity.creator.fullName" disabled />
                </div>

                <div class="form-group col-md-6">
                    <label for="editedDate">Last Modified Date</label>
                    <input type="text" class="form-control" name="editedDate" required maxlength="100" minlength="3"
                        [ngModel]="activity.editedDate | date" disabled />
                </div>

                <div class="form-group col-md-6">
                    <label for="editedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="editedBy" required maxlength="100" minlength="3"
                        [ngModel]="activity.editor.fullName"  disabled />
                </div>
            </div>
        </form>
    </div>
    <div xmodal-footer>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button *ngIf="canDelete" type="button" class="btn btn-danger" [disabled]="!isValid" (click)="delete()">Delete</button>
        <button type="button" [disabled]="!isValid" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</app-modal>