<div class="row">
    <h3 class="no-margin-top pull-left">Clients</h3>
    <button role="button" class="btn btn-default pull-right" (click)="openNewClientModal()">Add</button>
</div>

<div class="row">
    <select class="btn btn-default col-sm-4 col-xs-4 col-md-3" [(ngModel)]="selectedContactId" class="btn btn-default">
            <option [value]="undefined">All Contacts</option>
            <option *ngFor="let contact of allContacts" [ngValue]="contact.id">{{contact.fullName}}</option>
    </select>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Client</th>
                <th>Contact Person(s)</th>
                <th class="hidden-sm hidden-xs">Projects</th>
                <th class="hidden-sm hidden-xs">Created By</th>
                <th class="hidden-sm hidden-xs">Created Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients | filterBy: {contactIds: selectedContactId} | orderBy : 'name'">
                <td><a (click)="displayClient(client)">{{client.name}}</a></td>
                <td>
                    <span *ngFor="let contact of client.contacts">
                        <a (click)="displayContact(contact)">{{contact.fullName}}</a>&nbsp;&nbsp;
                    </span>
                </td>
                <td class="hidden-sm hidden-xs">
                    <span>
                    <a [routerLink]="['/projects', client.id]">View Projects </a>
                </span>
                </td>
                <td class="hidden-sm hidden-xs">{{client.creator.fullName}}</td>
                <td class="hidden-sm hidden-xs">{{client.createdDate | date}}</td>
            </tr>
        </tbody>
    </table>
</div>


<app-client-modal (contactDeleted)="onContactDeleted($event)" (onSaved)="onClientSaved($event)" (onDeleted)="onClientDeleted($event)"></app-client-modal>
<app-contact-person-modal (onDeleted)="onContactDeleted($event)" (onSaved)="onContactSaved($event)"></app-contact-person-modal>
<app-project-entry-component></app-project-entry-component>