.project-title{
    color: #0099da;
    font-size: 20px;
    font-weight: normal;
}

.pull-right-custom {
  float: right !important;
  margin-right: 2.6em;

}

@media (max-width: 375px) {
  .pull-right-custom {
  margin-right: 1.5em;

  }

}