<app-modal [title]="title" [size]='"large"' [closable]="true">
    <div class="row" xmodal-body *ngIf="project">
        <div class="container col-xs-12">
            <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
            </div>
        </div>

        <div class="col-xs-10">
            <p class="col-md-12 project-title" style="margin-bottom: 30px;">{{project.title}}</p>
            <label class="col-xs-6">Team Member</label>
            <label class="col-xs-6">Role</label>
            <div class="row"></div>
        </div>

        <div class=" col-xs-2">
            <button type="button" title="Click to add a new member" class="btn pull-right-custom btn-default" [disabled]="!isValid" (click)="displayNewInput()"><span class="glyphicon glyphicon-plus"></span> Add</button>
            <div class="col-xs-6"></div>
        </div>


        <form name="teamform" #frm="ngForm" novalidate>
            <!--project Manager slot-->
            <div class="col-xs-10">
                <div class="form-group col-xs-6">
                    <select name="projectManager" class="form-control" [(ngModel)]="projectManagerId" required>
                            <option *ngFor="let user of userOptions(projectManagerId)" [ngValue]="user.id" >{{user.fullName}}</option>
                        </select>
                </div>

                <div class="form-group col-xs-6">
                    <input type="text" name="projectManager" class="form-control" value="Project Manager" disabled>
                </div>
            </div>

            <!--the members slot-->
            <div *ngFor='let member of project.teamMembers'>
                <div class="col-xs-10">
                    <div class="form-group col-xs-6">
                        <select name="teamMember-{{member.memberId}}" class="form-control" [(ngModel)]="member.memberId">
                            <option *ngFor="let user of userOptions(member.memberId)" [ngValue]="user.id" >{{user.fullName}}</option>
                        </select>
                    </div>

                    <div class="form-group col-xs-6">
                        <select name="role-{{member.memberId}}" class="form-control" [(ngModel)]="member.role" required>
                            <option  *ngFor="let role of roles" [ngValue]="role" >{{role | camelSeparate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-danger pull-right-custom visible-xs visible-sm" (click)="project.removeTeamMember(member.memberId)"><span class=" glyphicon glyphicon-remove"></span></button>
                    
                    <button type="button" class="btn btn-danger pull-right-custom hidden-xs hidden-sm" (click)="project.removeTeamMember(member.memberId)"><span class=" glyphicon glyphicon-remove"></span> Remove</button>
                </div>
            </div>

            <!--new member slot-->
            <div *ngIf="isNew">
                <div class="col-xs-10">
                    <div class="form-group col-xs-6">
                        <select name="teamMember" class="form-control" [(ngModel)]="newMember.memberId" required>
                            <option *ngFor="let user of userOptions(newMember.memberId)" [ngValue]="user.id" >{{user.fullName}}</option>
                        </select>
                    </div>

                    <div class="form-group col-xs-6">
                        <select name="role" class="form-control" [(ngModel)]="newMember.role" required>
                            <option  *ngFor="let role of roles" [ngValue]="role" >{{role | camelSeparate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-2">
                    <button type="button" class="btn btn-danger pull-right-custom visible-xs visible-sm" (click)="removeMember()"><span class=" glyphicon glyphicon-remove"></span></button>
  
                    <button type="button" class="btn btn-danger pull-right-custom hidden-xs hidden-sm" (click)="removeMember()"><span class=" glyphicon glyphicon-remove"></span> Remove</button>

                </div>
            </div>
        </form>
    </div>

    <div xmodal-footer class="pull-right-custom">
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button type="button" [disabled]="!isValid" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</app-modal>