<app-modal [title]="title" [size]='"large"' [closable]="true">
    <div class="row" xmodal-body>
        <form #frm="ngForm" *ngIf="project" novalidate>
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" required maxlength="100" minlength="3" [(ngModel)]="project.title" placeholder="Project title"
                />
            </div>
            <div class="form-group col-md-6">
                <label for="status">Status</label>
                <select name="status" class="form-control" [(ngModel)]="project.status" required>
                    <option  *ngFor="let status of allStatus" [ngValue]="status">{{status | camelSeparate}}</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="client">Client</label>
                <select name="client" class="form-control" [(ngModel)]="project.client.id" required>
                    <<option *ngFor="let client of clients" [ngValue]="client.id">{{client.name}}</option>
                </select>
            </div>

            <div *ngIf="!isNew">
                <div class="form-group col-md-6 hidden-xs hidden-sm">
                    <label for="created">Created</label>
                    <input type="text" class="form-control" name="created" [value]="project.created" disabled />
                </div>

                <div class="form-group col-md-6 hidden-xs hidden-sm">
                    <label for="createdBy">CreatedBy</label>
                    <input type="text" class="form-control" name="createdBy" [value]="project.createdBy.fullName" disabled />
                </div>

                <div class="form-group col-md-6">
                    <label for="team">Team Members</label>
                    <button (click)="displayTeam(project)" class="btn btn-xs btn-default" title="Edit" style="color:#0099da;"><span class="glyphicon glyphicon-pencil"></span></button>                    
                    <ul id="taglist" class="nav" *ngIf="project.teamMembers">
                        <li *ngIf="project.projectManager">{{project.projectManager.fullName}}</li>
                        <li *ngFor="let memb of project.teamMembers">{{memb.member.fullName}}</li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <div xmodal-footer *ngIf="project">
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button *ngIf="canDelete" type="button" class="btn btn-danger" [disabled]="!isValid" (click)="delete()">Delete</button>
        <button *ngIf="canSave" type="button" [disabled]="!isValid" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</app-modal>
<app-team-members-modal-component></app-team-members-modal-component>
