<div class="row">
    <h3 class="no-margin-top pull-left"> Approved</h3>
    <p class="pull-right"><strong>Week: <a #datePicker class="date" href="javascript:void(0)" data-provide="datepicker" >{{weeklyTimes.currentWeekStartDate | date}}
        <input #selectedDate  data-date-format="mm/dd/yyyy" type="hidden"></a>
        </strong></p>
</div>

<div class="row">
    <div class="pull-left btn-group">
        <button role="button" class="btn btn-default" (click)="goPrevious()" title="Previous week">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
        <button role="button" class="btn btn-default" (click)="goCurrent()" title="Current week" [disabled]="weeklyTimes.isThisWeek">
        <span class="glyphicon glyphicon-chevron-down"></span>
    </button>
        <button role="button" class="btn btn-default" (click)="goNext()" title="Next week">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
    </div>
    <select [disabled]="weeklyTimes.uniqueEmployees.length <= 1" class="btn btn-default col-xs-4 col-sm-3 filter-spacing"
        [(ngModel)]="weeklyTimes.selectedEmployeeId">
            <option [value]="undefined">All Employees</option>
            <option *ngFor="let employee of weeklyTimes.uniqueEmployees" [value]="employee.id">{{employee.fullName}}</option>
    </select>
    <select [disabled]="weeklyTimes.uniqueActivities.length <= 1" class="btn btn-default col-xs-4 col-sm-3 filter-spacing"
        [(ngModel)]="weeklyTimes.selectedActivityId">
            <option [value]="undefined">All Activities</option>
            <option *ngFor="let activity of weeklyTimes.uniqueActivities" [value]="activity.id">{{activity.title}}</option>
    </select>

    <a [ngClass]="{disabled: weeklyTimes.timeEntries.length <= 0}" role="button" class="btn btn-default pull-right mobile-margin filter-spacing"
        (click)="download(CSV_FORMAT)">CSV</a>
    <a [ngClass]="{disabled: weeklyTimes.timeEntries.length <= 0}" role="button" class="btn btn-default pull-right mobile-margin "
        (click)="download(EXCEL_FORMAT)">Excel</a>
</div>
<div class="row hidden-xs hidden-sm">
    <table class="table">
        <thead>
            <tr>
                <th>Day/Date</th>
                <th>Employee</th>
                <th>Task</th>
                <th>Project/Activity</th>
                <th>From</th>
                <th>To</th>
                <th>Hours</th>

            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-tuple [ngForOf]="weeklyTimes.timeEntriesTree">

                <tr *ngIf="tuple[2].length == 0">
                    <td>
                        <span>
                        {{ tuple[1] | date:'EEEE'}}
                    </span>
                        <br />
                        <small>{{ tuple[1] | date:'(MMM dd)'}}</small>
                    </td>
                    <td colspan="6"></td>
                </tr>

                <tr *ngFor="let timeEntry of tuple[2]; let i = index;">
                    <td *ngIf="i == 0" [attr.rowspan]="tuple[2].length">
                        <span>
                        {{ tuple[1] | date:'EEEE'}}
                    </span>
                        <br />
                        <small>{{ tuple[1] | date:'(MMM dd)'}}</small>
                    </td>
                    <td>{{ timeEntry.creator.fullName }}</td>
                    <td><a (click)="display(timeEntry)">{{ timeEntry.task }}</a></td>
                    <td>{{ timeEntry.activity.title }}</td>
                    <td>{{ timeEntry.beginDateTime | date:'shortTime' }}</td>
                    <td>{{ timeEntry.endDateTime | date:'shortTime' }}</td>
                    <td>{{ timeEntry.hours }}</td>
                </tr>
            </ng-template>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6">Total Hours</th>
                <th colspan="1">{{weeklyTimes.totalHours}}</th>
            </tr>
        </tfoot>
    </table>
</div>
<div class="mobile-container">
    <div class="row visible-sm visible-xs mobile-list">
        <p class="text-center" *ngIf="weeklyTimes.totalHours <= 0">No time entries</p>
        <ul class="list-group">
            <ng-template ngFor let-tuple [ngForOf]="weeklyTimes.timeEntriesTree">
                <li (click)="display(timeEntry)" class="list-group-item" *ngFor="let timeEntry of tuple[2]">
                    <div class="row">
                        <div [ngClass]="{'dummy-white-space':!timeEntry.creator}" class="col-xs-6"><strong>{{ timeEntry.creator.fullName }}</strong></div>
                        <div class="col-xs-6"><small class="pull-right">{{ timeEntry.activity.title }}</small></div>
                    </div>
                    <div class="row">
                        <div [ngClass]="{'dummy-white-space':!timeEntry.task}" class="col-xs-7">
                            <small><strong>{{ timeEntry.task }}</strong></small>
                        </div>
                        <div class="col-xs-5">
                            <span class="pull-right"><small>{{ tuple[1] | date:'EEE, MMM dd'}}</small></span>
                            <span><small>{{ timeEntry.hours}} Hours</small></span>
                        </div>
                    </div>
                </li>
            </ng-template>
            <li class="list-group-item" *ngIf="weeklyTimes.totalHours > 0">
                <span><strong>Total</strong></span>
                <span class="pull-right"><strong>{{weeklyTimes.totalHours}} Hours</strong></span>
            </li>
        </ul>
    </div>
</div>
<app-time-entry-modal></app-time-entry-modal>