<div class="row">
    <h3 class="no-margin-top">Revenues</h3>
</div>
<div id="charts-section" class="collapse in">
    <div class='row margin-top-bottom-10'>
        <label>₦-$</label>
        <input type="number" min="1" class="input-currency form-control-plaintext" [(ngModel)]="rateData" [readonly]="!(loggedInUser | async).isManager()" />
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail graph-container">
                <app-summary-boxes *ngIf="revenues"
                    [revenues]="revenues"
                    [isRevenue]="true"
                    [rateData]="rateData">
                </app-summary-boxes>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail graph-container">
                <app-pie-chart *ngIf="revenues"
                    [title]="'Last 12 Months Revenue'"
                    [data]="revenues"
                    [rateData]="rateData"
                    [chartConfig]="chartConfig">
                </app-pie-chart>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail graph-container">
                <app-bar-chart *ngIf="revenues"
                    [title]="'Revenue by Client'"
                    [data]="revenues"
                    [rateData]="rateData"
                    [chartConfig]="chartConfig">
                </app-bar-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <i id="#collapse-icon" *ngIf="isCollapsed" class="toggle fa fa-caret-down fa-3x pull-right" aria-hidden="true" (click)="setCollapse()" data-toggle="collapse" data-target="#charts-section" aria-expanded="true"></i>
    <i id="#collapse-icon" *ngIf="!isCollapsed" class="toggle fa fa-caret-up fa-3x pull-right" aria-hidden="true" (click)="setCollapse()" data-toggle="collapse" data-target="#charts-section" aria-expanded="true"></i>
</div>

<div class="row margin-top-20">
    <button class="btn btn-default pull-left" [disabled]="cantDownload" (click)="downloadReport()" id="downloadBtn">
        <i class="glyphicon glyphicon-save"></i>
        Download
    </button>

    <button class="btn btn-default pull-right filter-spacing" (click)="addRow()" [disabled]="disableAdd">
        <i class="glyphicon glyphicon-plus"></i>
        Add
    </button>
    <button class="btn btn-default pull-right filter-spacing" (click)="deleteSelectedRows()" [disabled]="disableDelete">
        <i class="glyphicon glyphicon-trash"></i>
        Delete
    </button>
    <div class="margin-top-6 pull-right">
        <input type="checkbox" (change)="getExpenses()" /> <label>&nbsp; Include Expenses</label>
    </div>
</div>

<div id="gridContainer" class="row">
    <app-grid
        [gridConfig]="gridHeader"
        [dataList]="revenues"
        (onSearchCriteriaChanged)="onSearchCriteriaChanged($event)"
        (onFilterChanged)="onFilter()"
        (onRowSelected)="onRowSelected($event)"
        (onCellValueChanged)="onCellValueChanged($event)">
    </app-grid>  
</div>
<br />
<br />