<div class="row">
    <div class="col-md-4" style="margin-top: 18px;">
        <div class="summary" (click)= "toggleCurrency()">
            <span class="currency-symbol-dollar" *ngIf="isDollar">$</span>
            <span class="currency-symbol-naira" *ngIf="!isDollar">₦</span>
        </div>
    </div>

    <div *ngIf="isExpense" class="col-md-8 displayed-value">
        <span class="text-reduced">Total Expense</span>
        <h5 class="value">
            {{totalExpense | number:'.2-2'}}
        </h5>

        <span class="text-reduced">Total Reimbursed</span>
        <h5 class="value">
            {{totalReimbursed | number:'.2-2'}}
        </h5>

        <span class="text-reduced">Total not Reimbursed</span>
        <h5 class="value">
            {{totalNotReimbursed | number:'.2-2'}}
        </h5>
    </div>

    <div *ngIf="isRevenue" class="col-md-8 displayed-value">
        <span class="text-reduced">Total Revenue</span>
        <h5 class="value">
        {{totalsumRevenue | number:'.2-2'}}
        </h5>
        <br>
        <span class="text-reduced">Total Expense</span>
        <h5 class="value">
        {{totalsumExpense | number:'.2-2'}}
        </h5>
    </div>

    <div *ngIf="isAsset" class="col-md-8 displayed-value">
        <span class="text-reduced">Total Cost of Items</span>
        <h5 class="value">
            {{totalAssetsSum | number:'.2-2'}}
        </h5>

        <span class="text-reduced">Total Count of Good Items</span>
        <h5 class="value">
            {{totalGoodAssets | number}}
        </h5>

        <span class="text-reduced">Total Count of Unassigned Items</span>
        <h5 class="value">
            {{totalUnassignedAssets | number}}
        </h5>
    </div>
</div>