.text-reduced {
    font-size: 7px;
    font-weight: 900;
}

.displayed-value {
    height: 100%;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    top: -75%;
}

.summary {
    margin-top: 42%;
    background-color: #6ca554; 
    color: #fff;
    border: 2px solid #000;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-left: 0%;
}

.value {
    margin-top: 0px;
    padding-bottom: 0px;
    text-align: right;
    font-size: 20px;
    color: #666666;
    margin-bottom: 5px;
    font-weight: 900;
}

.currency-symbol-dollar {
    position:relative;
    left:22%;
    font-weight: bold;
    font-size: 70px;
    top: -20%;
}

.currency-symbol-naira {
    position:relative;
    left:20%;
    font-weight: bold;
    font-size: 62px;
    top: -15%;
}

@media only screen and (max-width: 1200px) {
    .summary{
        margin-top: 50%;
        width: 70px;
        height: 70px;
        margin-left: 0%;
    }

    .currency-symbol-dollar{
        left:22%;
        top: -31%;
    }

    .currency-symbol-naira{
        left:18%;
        top: -23%;
    }
}

@media only screen and (max-width: 991px) {
    .row {
        height: 155px;
    }

    .summary {
        margin-top: 6%;
        width: 100px;
        height: 100px;
        margin-left: 10%;
    }

    .currency-symbol-dollar {
        left:26%;
        top: -12%;
    }

    .currency-symbol-naira {
        left:22%;
        top: -12%;
    }
    
    .displayed-value {
        top: -90%;
    }

    .value {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 630px) {
    .summary {
        margin-top: 6%;
        width: 100px;
        height: 100px;
        margin-left: 10%;
    }

    .currency-symbol-dollar {
        left:26%;
        top: -12%;
    }

    .currency-symbol-naira {
        left:22%;
        top: -12%;
    }

    .displayed-value {
        top: -82%;
    }
}