<div class="row">
    <h3 class="no-margin-top">Assets Page</h3>
</div>
<div id="charts-section" class="collapse in">
    <div class="row margin-top-bottom-10">
        <label>₦-$</label>
        <input type="number" min="1" class="input-currency form-control-plaintext" [(ngModel)]="rateData" [readonly]="!loggedInUser.isManager()" />
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail graph-container">
                <app-summary-boxes *ngIf="assets"
                                 [assets]="assets"
                                 [isAsset]="true"
                                 [rateData]="rateData">
                </app-summary-boxes>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail graph-container">
                <app-pie-chart 
                    *ngIf="assets"
                    [title]="'Unassigned vs Assigned Items'"
                    [data]="assets"
                    [chartConfig]="chartConfig">
                </app-pie-chart>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail graph-container">
                <app-bar-chart 
                    *ngIf="assets"
                    [title]="'All Assigned vs Unassigned Items'"
                    [data]="assets"
                    [chartConfig]="chartConfig">
                </app-bar-chart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <i id="#collapse-icon" *ngIf="isCollapsed" class="toggle fa fa-caret-down fa-3x pull-right" aria-hidden="true" (click)="setCollapse()" data-toggle="collapse" data-target="#charts-section" aria-expanded="true"></i>
    <i id="#collapse-icon" *ngIf="!isCollapsed" class="toggle fa fa-caret-up fa-3x pull-right" aria-hidden="true" (click)="setCollapse()" data-toggle="collapse" data-target="#charts-section" aria-expanded="true"></i>
</div>
<div class="row margin-top-20">
    <button class="btn btn-default pull-left" [disabled]="cantDownload" (click)="downloadReport()">
        <i class="glyphicon glyphicon-save"></i>
        Download
    </button>

    <button class="btn btn-default pull-right filter-spacing" (click)="add()" [disabled]="disableAdd">
        <i class="glyphicon glyphicon-plus"></i>
        Add
    </button>
    <button class="btn btn-default pull-right" *ngIf="loggedInUser.isManager()" [disabled]="disableDelete" (click)="deleteSelectedRows()">
        <i class="glyphicon glyphicon-trash"></i>
        Delete
    </button>
    <button class="btn btn-default pull-right" [disabled]="disableRequest" (click)="request()">
        <i class="glyphicon glyphicon-hand-up"></i>
        Request
    </button>
    <button class="btn btn-default pull-right" [disabled]="disableViewButton" (click)="view()">
        <i class="glyphicon glyphicon-new-window"></i>
        View
    </button>
</div>

<div id="gridContainer" class="row">
<app-grid
    [gridConfig]="gridHeader"
    [dataList]="assets"
    (onSearchCriteriaChanged)="onSearchCriteriaChanged($event)"
    (onFilterChanged)="onFilter()"
    (onRowSelected)="onRowSelected($event)">
</app-grid>

<app-asset-aside 
    [users]="users"
    [loggedInUser]="loggedInUser"
    (OnAssetSaved)="onAssetSaved($event)">
</app-asset-aside>

</div>
<br />
