<app-aside [title]="title">
    <div xaside-header *ngIf="viewOnly && userCanEdit" class="pull-right">
        <button (click)="edit()" type="button" class="close" aria-label="Close">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </div>
    <div xaside-body>
        <form #frm="ngForm" *ngIf="asset && !viewOnly" novalidate> 
            <div class="form-group">
                <label for="item">Item</label>
                <input type="text" class="form-control" name="item" [(ngModel)]="asset.item" id="item" required [readonly]="readonly">
            </div>
            <div class="form-group">
                <label for="purchaseDate">Purchased Date</label>
                <input type="date" class="form-control" name="purchasedDate" [(ngModel)]="asset.purchasedDate" id="puchasedDate" required [readonly]="readonly">
            </div>
            <div class="form-group">
                <label for="purchasedBy">Purchased By</label>
                <select class="form-control" name="purchasedBy" [(ngModel)]="asset.purchasedBy.id" required [disabled]="readonly">
                    <option value=""></option>
                    <option *ngFor="let user of usersToIdValuePairs()" [ngValue]="user.id">{{ user.value }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="condition">Condition</label>
                <select class="form-control" name="condition" [(ngModel)]="asset.condition" required [disabled]="!canEditCondition">
                    <option *ngFor="let condition of conditions" [ngValue]="condition.value">{{ condition.id }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" name="category" [(ngModel)]="asset.category" required [disabled]="readonly">
                    <option *ngFor="let category of categories" [ngValue]="category.value">{{ category.id }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer</label>
                <input type="text" class="form-control" name="manufacturer" [(ngModel)]="asset.manufacturer" id="manufacturer" required [readonly]="readonly">
            </div>
            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="number" name="cost" [(ngModel)]="asset.cost" class="form-control" id="cost" required [readonly]="readonly">
            </div>
            <div class="form-group">
                <label for="currency">Currency</label>
                <select class="form-control" name="currency" [(ngModel)]="asset.currency" required [disabled]="readonly">
                    <option *ngFor="let currency of currencies" [value]="currency.id">{{ currency.value }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="serialNo">Serial #</label>
                <input type="text" class="form-control" name="serialNo" [(ngModel)]="asset.serialNo" id="serialNo" [readonly]="readonly">
            </div>
            <div class="form-group">
                <label for="assignee">Assignee</label>
                <select class="form-control" name="assignee" [(ngModel)]="asset.assignee.id" [required]="!!asset.assignedDate" [disabled]="readonly">
                    <option value=""></option>
                    <option *ngFor="let user of usersToIdValuePairs()" [ngValue]="user.id">{{ user.value }}</option>
                </select>
            </div>   
            <div class="form-group">
                <label for="assignedDate">Assigned Date</label>
                <input type="date" class="form-control" name="assignedDate" [(ngModel)]="asset.assignedDate" [required]="!!asset.assignee.id" id="assignedDate" [readonly]="readonly">
            </div>           
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="asset.description"  #description="ngModel" id="description" [readonly]="readonly">
            </div>   
            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" class="form-control" name="model" [(ngModel)]="asset.model" id="model" [readonly]="readonly">
            </div>              
            <div class="form-group">
                <label for="serviceTag">Service Tag</label>
                <input type="text" class="form-control" name="serviceTag" [(ngModel)]="asset.serviceTag" id="serviceTag" [readonly]="readonly">
            </div>
            <div class="form-group">
                <label for="serviceCode">Service Code</label>
                <input type="text" class="form-control" name="serviceCode" [(ngModel)]="asset.serviceCode" id="serviceCode" [readonly]="readonly">
            </div>      
        </form>

        <div class="assetDetail" #assetDetail *ngIf="asset && viewOnly">
            <div class="d-content">
                <p class="d-head">Item</p>
                <p class="d-body">{{ asset.item }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Description</p>
                <p class="d-body">{{ asset.description }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Manufacturer</p>
                <p class="d-body">{{ asset.manufacturer }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Model</p>
                <p class="d-body">{{ asset.model }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Serial #</p>
                <p class="d-body">{{ asset.serialNo }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Service Tag</p>
                <p class="d-body">{{ asset.serviceTag }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Service Code</p>
                <p class="d-body">{{ asset.serviceCode }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Purchased Date</p>
                <p class="d-body">{{ asset.purchasedDate | date }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Purchased By</p>
                <p class="d-body">{{ asset.purchasedBy.id && asset.purchasedBy.fullName }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Cost</p>
                <p class="d-body">{{ asset.cost }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Currency</p>
                <p class="d-body">{{ asset.currency }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Current Assignee</p>
                <p class="d-body">{{ asset.assignee.id && asset.assignee.fullName }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Assigned Date</p>
                <p class="d-body">{{ asset.assignedDate | date }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Condition</p>
                <p class="d-body">{{ asset.condition }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Last Assignee</p>
                <p class="d-body">{{ asset.lastAssignee.id && asset.lastAssignee.fullName }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Description</p>
                <p class="d-body">{{ asset.description }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Last Assigned Date</p>
                <p class="d-body">{{ asset.lastAssignedDate | date }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Marked Bad By</p>
                <p class="d-body">{{ asset.markedBadBy.id && asset.markedBadBy.fullName }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Marked Bad On</p>
                <p class="d-body">{{ asset.markedBadOn | date }}</p>
            </div>
            <div class="d-content">
                <p class="d-head">Entered By</p>
                <p class="d-body">{{ asset.enteredBy.id && asset.enteredBy.fullName }}</p>
            </div>
        </div>
    </div> 
    <div xaside-footer *ngIf="asset && !viewOnly">
        <button class="btn btn-primary" (click)="save()" [disabled]="!isValid">Save</button>
        <button class="btn btn-primary" (click)="cancel()">Cancel</button>
    </div>
</app-aside>
