.d-head {
    font-weight: 700;
    margin: 0px;
}

.d-body {
    margin: 0px;
}

.d-content {
    font-size: 14px;
    margin-bottom: 1.2rem;
    padding-top: 5px;
}

.close {
    padding: 7px;
    margin-right: 5px;
    font-size: 14px;
    opacity: .4;
}