<div class="row">
<h3 class="no-margin-top pull-left"> All Employees Vacation</h3>
<button (click)="addVacation()" class="btn btn-default pull-right">Add</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Employee</th>
            <th class="hidden-sm hidden-xs">Hours Per Pay Period</th>
            <th class="hidden-sm hidden-xs">Year Begin Balance</th>
            <th>Hours Taken</th>
            <th>Hours Available</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vacation of vacations | orderBy : 'employee' : 'firstName'">
            <td>
                <a title="Click to view vacation details" [routerLink]="['../vacations', vacation.employee.id]">{{vacation.employee.fullName}}</a>
            </td>
            <td class="hidden-sm hidden-xs">{{vacation.hoursPerPeriod}}</td>
            <td class="hidden-sm hidden-xs">{{vacation.yearBeginBalance}}</td>
            <td>{{vacation.totalHoursTaken}}</td>
            <td>{{vacation.totalHoursAvailable}}</td>
        </tr>
    </tbody>
</table>

<app-vacation-modal (onSaved)="onVacationSaved($event)"></app-vacation-modal>