.bar-chart {
    width: 100%;
    height: 100%;
}
.bar-chart .axis path,		
.bar-chart .axis line {
    stroke: #999;
}		
.bar-chart .axis text {
    fill: steelblue;
}

.axis .axis-y {
    font-size: 10px
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
  }
  
  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
  }
  
  /* Style northward tooltips differently */
  .d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
  }

  text {
    font-size: 1rem;
    font-weight: 900;
  }