<h3 class="no-margin-top">My Vacations</h3>
<div class="row">
    <div class="col-xs-9">
        <h5>Vacation Hours Accrual</h5>
    </div>
    <div class="col-xs-3">
        <button *ngIf="isManager && !isLoggedInUser" (click)="edit()" class="btn btn-default pull-right">Edit</button>
    </div>
</div>
<div class="list-group">
    <div class="list-group-item">
        <span class="heading">Hours Per Pay Period:</span>
        <span class="badge">{{vacation.hoursPerPeriod}}</span>
    </div>
    <div class="list-group-item">
        <span class="heading">Beginning Balance:</span>
        <span class="badge">{{vacation.yearBeginBalance}}</span>
    </div>
    <div class="list-group-item">
        <span class="heading">Awarded Amount:</span>
        <span class="badge">{{vacation.totalHoursAccrued}}</span>
    </div>
    <div class="list-group-item">
        <span class="heading">Taken Amount: </span>
        <span class="badge">{{vacation.totalHoursTaken}}</span>
    </div>
    <div class="list-group-item">
        <span class="heading">Available:</span>
        <span class="badge">{{vacation.totalHoursAvailable}}</span>
    </div>
    <div class="list-group-item">
        <span class="heading">Last Updated:</span>
        <span class="badge">{{vacation.edited | date}}</span>
    </div>
</div>

<h5>Vacations Taken This Year</h5>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Hours</th>
            <th>Task</th>
            <th>Activity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="timeEntries.length < 1">
            <td class="text-center" colspan="4">No vacation taken this year</td>
        </tr>
        <tr *ngFor="let timeEntry of timeEntries">
            <td>{{timeEntry.beginDateTime | date}}</td>
            <td>{{getHours(timeEntry)}}</td>
            <td><a (click)="displayTask(timeEntry)">{{timeEntry.task}}</a></td>
            <td>{{timeEntry.activity.title}}</td>
        </tr>
    </tbody>
</table>
<app-time-entry-modal></app-time-entry-modal>
<app-vacation-modal (onSaved)="onVacationSaved($event)"></app-vacation-modal>
<!--<app-modal>
    <div class="row" xmodal-body>
        <div class="form-group col-xs-6">
            <label for="Hours Per Period">Hours Per Period</label>
            <input required class="form-control" [(ngModel)]="hoursPerPeriod" #hours type="number" name="hours" />
        </div>
        <div class="form-group col-xs-6">
            <label for="Hours Per Period">Year Begin Balance</label>
            <input required class="form-control" [(ngModel)]="yearBeginBalance" #years type="number" name="years" />
        </div>
    </div>
    <div xmodal-footer>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button [disabled]="hoursPerPeriod < 1 || yearBeginBalance < 1" type="button" class="btn btn-primary" (click)="updateVacation()">Save</button>
    </div>
</app-modal>-->