@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    position: relative;
}

.carousel-text a {
    color: #cdff76;
    text-decoration: underline;
}

.has-info .form-control {
    border-color: #337ab7;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.error {
    color: #ff0000;
}

.overlay {
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.loader {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27px;
    margin-left: -27px;
    z-index: 1000001;
}

.loading.overlay {
    visibility: visible;
    opacity: 1;
}

.slogan span {
    color: #0099da;
}

.navbar-default .navbar-brand {
    text-transform: none;
}

.truncate_13em {
    white-space: nowrap; 
    max-width: 13em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.truncate_30em {
    white-space: nowrap; 
    max-width: 30em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
    
.pre-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #a1a1a1;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: relative;
    top: 20em;
    left: 50%;
}

input[type="date"] {
    height: 36px;
}

input.ng-invalid, select.ng-invalid, textarea.ng-invalid, input.invalid-data {
    background: #f5e8f7; 
    border-color: red; 
    color: red;
}

#taglist li {
  display: inline;
}

#taglist li:after {
  content: ", ";
}

#taglist li:last-child:after {
    content: "";
}

a.disabled {
   pointer-events: visible !important;
   cursor: not-allowed;
}

.mobile-container .mobile-list {
    margin-top: 20px;
} 

.mobile-container .mobile-status{
    padding-right: 30px;
}

.filter-spacing {
    margin-left: 5px;
}

button.edit-glyphicon {
    color: #0099da;
}

tr > td.dateTimebackground{
    background-color: #fff;
    color: #666;
}

.nav-padding {
    padding-left: 12px;
}

@media (max-width: 768px) {
    /* On small screens, their should be a margin between the filters and the button */
    .mobile-margin{
    margin-top: 10px;
        
    }
    .dummy-white-space{
        display:inline-block; 
        width: 30px;
    }

    .filter-spacing {
        margin-left: 0px;
        }
}

.navbar-collapse { 
    max-height: none !important; 
}

.line {
    margin: 0px auto 5px;
  }
  
  #gridContainer {
    height: 40rem;
    margin-top: 5px;
  }
  
  .graph-container {
    height: 168px;
  }
  
  .padding-right{
    padding: 10px;
  }
  
  .input-currency{
    width: 8%;
    text-align: center;
  }
  
  .margin-top-bottom-10 {
     margin-bottom: 10px;
     margin-top: 10px;
  }
  
  @media only screen and (max-width: 1200px) {
    .input-currency{
      width: 8%;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .input-currency{
      width: 9%;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 630px) {
    .input-currency{
      width: 15%;
      text-align: center;
    }
   }

