<select *ngIf="!isIdValuePairOptions" class="grid-dropdown-filter" class="ag-filter-select" (ngModelChange)="onChange($event)" [ngModel]="selectedOption">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let option of dropDownOptions">{{option}}</option>
</select>

<select *ngIf="isIdValuePairOptions" class="grid-dropdown-filter" class="ag-filter-select" (ngModelChange)="onChange($event)" [ngModel]="selectedOption">
    <option [ngValue]="undefined"></option>
    <option *ngFor="let option of dropDownOptions" [ngValue]="option.id">{{option.fullName || option.value}}</option>
</select>