@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
    .main-header {
        margin-top: 7%;
    }
    .dropdown-submenu>a.dropdown-toggle::after {
        font-family: FontAwesome;
        content: "\F107";
        top: 10px;
        right: 15px;
        display: inline-block;
    }
}

.ec-filters-menu h4 {
    cursor: pointer;
}

.main-header {
    margin-top: 2.5%;
    padding: 1.5em;
}

#main-display {
    margin-bottom: 50px;
}

.list-right {
    left: auto !important;
    right: 100% !important;
}

.panel {
    margin-bottom: 0; 
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
