<div id="sb-site">
    <div class="boxed">
        <nav class="navbar navbar-default navbar-dark yamm navbar-static-top navbar-fixed-top" role="navigation" id="header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" (click)="toggleCollapse()">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a id="ar-brand" class="navbar-brand" [attr.href]="baseSiteUrl">NexTekk</a>
                </div>
                <!-- navbar-header -->
                <div class="collapse navbar-collapse" id="navigation-menu" [collapse]="isCollapsed">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a [attr.href]="baseSiteUrl">Home</a>
                        </li>
                        <li class="dropdown hidden-xs">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Services</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li><a [attr.href]="baseSiteUrl + '/Consulting/Index'">IT Consulting</a></li>
                                <li><a [attr.href]="baseSiteUrl + '/Training/Index'">IT Training</a></li>
                                <li><a [attr.href]="baseSiteUrl + '/CareerSupport/Index'">Career Support</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xs">
                            <a [attr.href]="baseSiteUrl + '/Home/Contact'">Contact Us</a>
                        </li>
                        <li class="hidden-xs">
                            <a [attr.href]="baseSiteUrl + '/Home/Team'">Our Team</a>
                        </li>
                        <li class="hidden-xs">
                            <a [attr.href]="baseSiteUrl + '/Home/Careers'">Careers</a>
                        </li>
                        <li class="dropdown active">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"> Internal</a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children hidden-xs"> Time Tracking</a>
                                    <ul class="dropdown-menu dropdown-menu-left list-right">
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['time-entries']">My Time Entries</a></li>
                                        <li [hidden]="!isManager"><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['pending-approval']">Pending Approval</a></li>
                                        <li [hidden]="!isManager"><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['approved']">Approved</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children hidden-xs"> Vacations</a>
                                    <ul class="dropdown-menu dropdown-menu-left list-right">
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['vacations']">My Vacations</a></li>
                                        <li [hidden]="!isManager"><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['users-vacations']">Employees Vacations</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu" [hidden]="!isManager">
                                    <a href="javascript:void(0);" class="has_children hidden-xs"> Projects &amp; Clients</a>
                                    <ul class="dropdown-menu dropdown-menu-left list-right" [hidden]="!isManager">
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['projects']">Projects</a></li>
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['clients']">Clients</a></li>
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['contacts']">Contact Persons</a></li>
                                    </ul>
                                </li>
                                <li [hidden]="!isManager">
                                    <a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['activities']">Activities</a>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="javascript:void(0);" class="has_children hidden-xs"> CashFlow</a>
                                    <ul class="dropdown-menu dropdown-menu-left list-right">
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['expenses']">Expenses</a></li>
                                        <li [hidden]="!isManager"><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['revenue']">Revenue</a></li>
                                        <li><a (click)="toggleCollapse()" [routerLinkActive]="['active']" [routerLink]="['assets']">Assets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="isAuthenticated" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                <span class="glyphicon glyphicon-user"></span>
                                <em>{{userFirstName | async}}</em>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                                <li><a (click)="logOut()">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- navbar-collapse -->
            </div>
            <!-- container -->
        </nav>
        <header class="main-header">
            <div class="container hidden-sm hidden-xs">
                <h1 class="page-title">{{ title }}</h1>
                <ol class="breadcrumb pull-right">
                    <li>
                        <a [attr.href]="baseSiteUrl">Home</a>
                    </li>
                    <li class="active">{{title}}</li>
                </ol>
            </div>
        </header>
        <div class="container" id="main-display">
            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="ec-filters-menu" id="operations">
                    <h3 class="section-title no-margin-top">Operations</h3>
                    <div class="panel">
                        <h4 data-toggle="collapse" href="#time-tracking" data-parent="#operations">Time Tracking</h4>
                        <ul id="time-tracking" class="collapse in">
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['time-entries']">My Time Entries</a></span></li>
                            <li [hidden]="!isManager"><span><a [routerLinkActive]="['active']" [routerLink]="['pending-approval']">Pending Approval</a></span></li>
                            <li [hidden]="!isManager"><span><a [routerLinkActive]="['active']" [routerLink]="['approved']">Approved</a></span></li>
                        </ul>
                    </div>
                    <div class="panel">
                        <h4 data-toggle="collapse" href="#vacation"  data-parent="#operations">Vacations</h4>
                        <ul id="vacation" class="collapse">
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['vacations']">My Vacations</a></span></li>
                            <li [hidden]="!isManager"><span><a [routerLinkActive]="['active']" [routerLink]="['users-vacations']">All Employees</a></span></li>
                        </ul>
                    </div>
                    <div class="panel">
                        <h4 [hidden]="!isManager" data-toggle="collapse" href="#projects" data-parent="#operations">Projects &amp; Clients</h4>
                        <ul [hidden]="!isManager" id="projects" class="collapse">
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['projects']">Projects</a></span></li>
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['clients']">Clients</a></span></li>
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['contacts']">Contact Persons</a></span></li>
                        </ul>
                    </div>
                    <div class="panel">
                        <h4 [hidden]="!isManager" data-toggle="collapse" href="#activities" data-parent="#operations">Activities</h4>
                        <ul [hidden]="!isManager" id="activities" class="collapse">
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['activities']">Activities List</a></span></li>
                        </ul>
                    </div>
                    <div class="panel">
                        <h4 data-toggle="collapse" href="#cash-flow" data-parent="#operations">Cash Flow</h4>
                        <ul id="cash-flow" class="collapse">
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['expenses']">Expenses</a></span></li>
                            <li [hidden]="!isManager"><span><a [routerLinkActive]="['active']" [routerLink]="['revenue']">Revenue</a></span></li>
                            <li><span><a [routerLinkActive]="['active']" [routerLink]="['assets']">Assets</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <router-outlet></router-outlet>
            </div>
        </div>
        <footer class="navbar-fixed-bottom" id="footer">
            <p>&copy; {{currentYear}} <a [attr.href]="baseSiteUrl">NexTekk</a> LLC. All rights reserved.</p>
        </footer>
    </div>
</div>
<app-spinner></app-spinner>
<app-dialog-modal></app-dialog-modal>