<app-modal [title]="title" [size]="'medium'">
    <div xmodal-body>{{message}}</div>
    <div xmodal-footer>
        <button *ngIf="isConfirm" type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="ok()">Ok</button>
    </div>
</app-modal>