<div class="row">
        <h3 class="no-margin-top pull-left">Projects</h3>
        <button role="button" class="btn btn-default pull-right" (click)="openNewProjectModal()">Add</button>
</div>

<div class="row">
        <select class="btn btn-default  col-sm-4 col-xs-4 col-md-3" [disabled]="projectEntry.allClients.length <= 1" [(ngModel)]="selectedClientId">
            <option [ngValue]="undefined">All Clients</option>
            <option *ngFor="let client of projectEntry.allClients" [ngValue]="client.id">{{ client.name}}</option>
        </select>
        <select class="btn btn-default  col-sm-4 col-xs-4 col-md-3" [disabled]="projectEntry.projects.length <= 1" [(ngModel)]="selectedStatus">
            <option [ngValue]="undefined">All Status</option>
            <option *ngFor="let status of allStatus" [ngValue]="status">{{status | camelSeparate}}</option>
        </select>

        <select class="btn btn-default  hidden-sm hidden-xs col-md-3 " [disabled]="projectEntry.getManagers().length <= 1" [(ngModel)]="selectedManagerId">
            <option [ngValue]="undefined">All Project Managers</option>
            <option [ngValue]= null >None</option>
            <option *ngFor="let manager of projectEntry.getManagers()" [value]="manager.id">{{ manager.fullName}}</option>
        </select>

        <select class="btn btn-default  col-sm-4 col-xs-4 col-md-3" [disabled]="projectEntry.projects.length <= 1" [(ngModel)]="selectedUserId">
            <option [ngValue]="undefined">All Members</option>
            <option [ngValue] = null >None</option>
            <option *ngFor="let user of projectEntry.users" [value]="user.id">{{user.fullName}}</option>
        </select>

</div>
<div class="row">
        <table class="table hidden-sm hidden-xs">
                <thead>
                        <tr>
                                <th>Project</th>
                                <th>Client</th>
                                <th>Status</th>
                                <th>Project Manager</th>
                                <th>Team Members</th>
                        </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let project of projectEntry.projects | filterBy: {clientId: selectedClientId, status: selectedStatus, projectManagerId: selectedManagerId, membersIds: selectedUserId } | orderBy : 'title' ">
                                <td><a (click)="display(project.id)">{{project.title}}</a></td>
                                <td><a (click)="displayClient(project.client.id)">{{project.client.name}}</a></td>
                                <td>{{project.status | camelSeparate}}</td>
                                <td>
                                        <a *ngIf="project.projectManager" (click)="displayTeam(project)">{{project.projectManager.fullName}}</a>
                                </td>
                                <td class="truncate_13em">
                                        <a (click)="displayTeam(project)" *ngIf="project.teamMembers.length > 0">
                                                <ul id="taglist" class="nav">
                                                        <li *ngFor="let memb of project.teamMembers">{{memb.member.fullName}}</li>
                                                </ul>
                                        </a>
                                </td>
                        </tr>
                </tbody>
        </table>
</div>
<div class="mobile-container">
        <div class="row mobile-list visible-xs visible-sm">
                <ul class="list-group">
                        <li (click)="display(project.id)" *ngFor="let project of projectEntry.projects | filterBy: {clientId: selectedClientId, status: selectedStatus, membersIds: selectedUserId } | orderBy : 'title'"
                                class="list-group-item">
                                <div class="row">
                                        <div class="col-xs-7"><strong>{{project.title}} </strong></div>
                                        <div class="col-xs-5" ><strong class="pull-right"><small>{{project.status | camelSeparate}}</small></strong></div>
                                </div>
                                <div class="row">
                                        <div class="col-xs-7"><small>{{project.client.name}}</small></div>
                                        <div *ngIf="project.projectManager" class="col-xs-5"><small class="pull-right">{{project.projectManager.fullName}}</small></div>
                                </div>
                        </li>
                </ul>
        </div>
</div>
<app-team-members-modal-component></app-team-members-modal-component>
<app-project-entry-component (onSaved)="onProjectSaved($event)" (onDeleted)="onProjectDeleted($event)"></app-project-entry-component>
<app-client-modal></app-client-modal>