﻿<app-modal [title]="title" [size]='"large"' [closable]="true">
    <div class="row" xmodal-body>
        <form #frm="ngForm" *ngIf="timeEntry" novalidate>
            <div *ngIf="showError" class="alert alert-danger col-xs-12">
                {{errorMessage}}
            </div>
            <div class="form-group col-md-6">
                <label for="task">Task</label>
                <input type="text" class="form-control" name="task" required maxlength="100" minlength="3"
                       [(ngModel)]="timeEntry.task" 
                       placeholder="Your task here"
                       [disabled]="isReadOnly">
            </div>
            <div class="form-group col-xs-6">
                <label for="date">Date</label>
                <input type="date" class="form-control" name="date" required
                       [(ngModel)]="timeEntry.date" 
                       placeholder="Date"
                       [disabled]="isReadOnly">
            </div>
            <div class="form-group col-xs-6">
                <label for="start-time">Start Time</label>
                <input type="time" name="start-time" class="form-control" required
                       [(ngModel)]="timeEntry.beginTime" [ngModelOptions]="{ updateOn: 'blur' }"
                       [disabled]="isReadOnly" />
            </div>
            <div class="form-group col-xs-6">
                <label for="start-time">End Time</label>
                <input type="time" name="end-time" class="form-control" required
                       [(ngModel)]="timeEntry.endTime" [ngModelOptions]="{ updateOn: 'blur' }"
                       [ngClass]="{'ng-invalid': !timeEntry.timeRangeIsValid}"
                       [disabled]="isReadOnly" />
            </div>
            <div class="form-group col-xs-6">
                <label for="project">Project/Activity</label>
                <select name="activity" class="form-control" required
                        [(ngModel)]="timeEntry.activity.id"
                        [disabled]="isReadOnly">
                    <option *ngFor="let activity of activities | async" [ngValue]="activity.id">{{activity.title}}</option>
                </select>
            </div>

            <div class="form-group col-md-6 hidden-sm hidden-xs">
                <label for="billable-hours">Number of Hours</label>
                <input type="number" name="hours" class="form-control" [ngModel]="timeEntry.hours" disabled />
            </div>

            <div class="form-group col-md-6 col-xs-12">
                <label for="start-time">Comment</label>
                <textarea name="comment" class="form-control"
                       [(ngModel)]="timeEntry.comment"
                       [disabled]="isReadOnly" 
                       maxlength="4000" minlength="5"></textarea>
            </div>

            <div class="form-group col-md-6 col-xs-12">
                <label for="manager-comment">Manager Comment</label>
                <textarea  name="manager-comment" class="form-control"
                [(ngModel)] = "timeEntry.managerComment"
                 [disabled] = "!isManager" 
                 maxlength="4000" minlength="5">
                </textarea>
            </div>
        </form>
    </div>
    <div xmodal-footer>
        <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        <button *ngIf="!isReadOnly && canDelete" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <button *ngIf="!isReadOnly && canSave" type="button" [disabled]="!isValid" class="btn btn-primary" (click)="save()">Save</button>
        
        <button *ngIf="isManager" [disabled]="!canDeny" class="btn btn-danger" (click)="deny()">Deny</button>
        <button [disabled]="!isValid" *ngIf="isManager" class="btn btn-primary" (click)="approve()">Approve</button>
        <button *ngIf="canSubmitTimeEntry" class="btn btn-primary" (click)="submitTimeEntry()">Submit</button>
        <button *ngIf="canUnsubmitTimeEntry" class="btn btn-primary" (click)="unSubmitEntry(timeEntry.id)">UnSubmit</button>
        
    </div>
</app-modal>
